<%- include("partials/header.ejs") %>
<div class="container">
  <div class="container">
    <br>
    <br>
    <br>
    <% if(main){ %>
    <h3>Type Your Beautiful Thoughts Hear..</h3>
    <br />
    <br>
    <form action="/submit" method="POST">
      <label for="title">Title</label>
      <textarea
        id="title"
        name="title"
        rows="2"
        cols="20"
        placeholder="Title goes hear"
      >
<%if(locals.titlepl){%><%= titlepl %><% }%></textarea
      >
      <label for="Blog">Input Blog</label>
      <textarea
        id="Blog"
        name="Blog"
        rows="5"
        cols="100"
        placeholder="Put Your Thoughts Hear..."
      >
<% if(locals.placeholder){%><%=placeholder%><% }%></textarea>
      <br /><br />
      <input type="submit" value="Submit" class="btn btn-light" />
      <br /><br />
    </form>
    <% } else{ %>
    <div class="container">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis"><% if(locals.titleb){ %><%= titleb %><% } %></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"><% if(locals.Blogpara){ %><%= Blogpara %><% } %></p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="/edit" method="post">
              <button
                type="Edit"
                class="btn btn-warning btn-lg px-4 me-sm-3 fw-bold"
              >
                Edit Blog
              </button>
            </form>
            <form action="/delete" method="post">
              <button type="Delete" class="btn btn-danger btn-lg px-4">
                Delete Blog
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<% if (locals.alertMessage) { %>
<script>
  alert("<%= alertMessage %>");
</script>
<% } %> <%- include("partials/footer.ejs") %>
